/* Style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/pexels-kat-smith-548389.jpg);
    color:rgb(10, 10, 10);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: black;
    color: #fcf9f9;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Style spécifique */
.entreprise {
    margin: 20px 0;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.tmtc{
    margin: 30px;
}

footer{
    background-color: black;
    padding:50px;
}